@model IEnumerable<AsseyLabMgt.Models.LabRequest>

@{
    ViewData["Title"] = "Index";
}
<h4>Data Entry</h4>
<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> Add New Job</a>
</p>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Lab Requests List</h3>
    </div>

    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.JobNumber)
                    </th>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.ProductionDate)
                    </th>
         
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlantSource)
                    </th>
            
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfSamples)
                    </th>
                   
                 
              
                    <th>Edit</th>
                    <th>View</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Department.DeptCode)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => item.PlantSource.PlantSourceName)
                        </td>
    
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfSamples)
                        </td>
                       
          
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-pen"></i> Edit</a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-eye"></i> Details</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>